[submodule "server/openmanus"]
	path = server/openmanus
	url = https://github.com/mannaandpoem/OpenManus
[submodule "external/nanocanvas"]
	path = external/nanocanvas
	url = https://github.com/GiantClam/nanocanvas.git
[submodule "submodules/nanocanvas"]
	path = submodules/nanocanvas
	url = https://github.com/GiantClam/nanocanvas
